@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;600;700&display=swap');

* {
  color: white;
  font-family: 'Red Hat Mono', monospace;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #1b5e20;
}

.photo {
  max-width: 200px;
  width: 100%;
  border-radius: 100%;
}

p {
  max-width: 320px;
  width: 100%;
}

.links {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;

  a {
    text-decoration: none;
    border-bottom: 1px solid white;
  }
}

form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 8px;
  }

  input {
    border: 0;
    height: 20px;
    box-sizing: border-box;
    color: green;
    
    &::placeholder { 
      color: green;
    }
  }

  button {
    background-color: green;
    border: 0;
    height: 20px;
  }
}

.back {
  margin-bottom: 10px;
}